.video-card {
  width: 19rem;
  cursor: pointer;
}

.card-dismiss {
  bottom: 35%;
  top: auto;
  background-color: var(--primary-color);
  color: var(--primary-bg);
}

.delete-from-history {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: var(--primary-text);
  color: var(--primary-bg);
  width: 2rem;
  height: 2rem;
  visibility: hidden;
}

.video-card:hover .delete-from-history {
  visibility: visible;
}

.card-dismiss:hover {
  opacity: 1;
}

.card-header-title {
  white-space: nowrap;
  overflow: hidden;
  width: 13rem;
  text-overflow: ellipsis;
}

.avatar-video-card {
  width: 2.5rem;
  height: 2.5rem;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card-disc {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.video-card-header:hover {
  background-color: transparent;
}
