.header {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.navbar i {
  font-size: 1.3rem;
}

.menu {
  display: none;
}

@media screen and (max-width: 37.5em) {
  .menu {
    display: block;
  }

  .header-brand > a {
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1rem 0;
  }

  .search,
  .search > .input-textbox {
    width: 100%;
  }

  .input-textbox {
    margin-bottom: 1rem;
  }

  header {
    height: auto;
  }

  .right-nav {
    display: none;
  }
}
