.explore {
  display: flex;
  justify-content: space-between;
}

.explore-videos {
  width: 100%;
}

.explore-video-filters {
  display: flex;
  gap: 1em;
  width: 100%;
  overflow-x: scroll;
}

.explore-video-listing {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 80vh;
  overflow-y: scroll;
}

.error-msg{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 37.5em) {
  .explore-video-listing {
    height: 100%;
    justify-content: center;
  }
}
